.information-of-product-in-cart {
  padding: 1.5rem;
  background-color: #fdfbfb;
  border-radius: 8px;
}
.cart-item-list {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: solid 0.5px rgb(243, 241, 241);
}
.cart-items-name {
  display: flex;
  justify-content: left;
  flex-direction: column;
  margin-right: 1rem;
  height: 30px;
  width: 165px;
  text-align: left;
  color: #9b9b9b;
  font-size: 15px;
}
.cart-items-function {
  display: flex;
  justify-content: right;
}

.cart-items-add,
.cart-items-remove {
  height: 32px;
  width: 32px;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  background-color: #ffffff;
  color: #5d3ebc;

  border: #ebebeb solid 1px;
}
.cart-items-add {
  border-radius: 0px 8px 8px 0px;
}
.cart-items-remove {
  border-radius: 8px 0px 0px 8px;
}
.cart-items-add:active {
  transform: translateY(2px);
}
.cart-items-remove:active {
  transform: translateY(1px);
}
.cart-items-total-price-name {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
}
.cart-items-total-price {
  display: flex;
  padding-left: 0.5rem;
  margin-top: 10%;
}

.product-quantity {
  color: #ebebeb;
  background-color: #5d3ebc;
  border: #ebebeb solid 1px;
  height: 32px;
  width: 32px;
  font-size: 18px;
  padding-top: 5px;
  padding-top: 7px;
}
.add-to-cart-btn-sepetim {
  height: 44px;
  width: 163px;
  background-color: #5d3ebc;
  border-radius: 8px 0px 0px 8px;
  border: solid #5d3ebc 1px;
  color: #ffffff;
  font-size: small;
  cursor: pointer;
}
.add-to-cart-btn-sepetim:hover {
  background-color: #7849f7;
}
.total-price {
  height: 44px;
  width: 80px;
  border: solid #5d3ebc 2px;
  border-radius: 0px 8px 8px 0px;
  text-align: center;
  color: #5d3ebc;
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-price {
  justify-content: none;
  color: #5d3ebc;
  font-size: 13px;
}

/* loading icon when click add or remove buttons */
.custom-loader {
  width: 20px;
  height: 20px;
  margin-left: 6px;
  display: grid;
  border-radius: 50%;
  -webkit-mask: radial-gradient(farthest-side, #0000 40%, #000 41%);
  background: linear-gradient(0deg, #f4f4f480 50%, #f4f4f4ff 0) center/2px 100%,
    linear-gradient(90deg, #f4f4f440 50%, #f4f4f4bf 0) center/100% 2px;
  background-repeat: no-repeat;
  animation: s3 1s infinite steps(12);
}
.custom-loader::before,
.custom-loader::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  opacity: 0.915;
  transform: rotate(30deg);
}
.custom-loader::after {
  opacity: 0.83;
  transform: rotate(60deg);
}

@keyframes s3 {
  100% {
    transform: rotate(1turn);
  }
}



@media (max-width: 600px) {
}
