.information-of-product-in-cart {
  padding: 1.5rem;
  background-color: #fdfbfb;
  border-radius: 8px;
  
}
.cart-item-list {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: solid 0.5px rgb(243, 241, 241);
  
}
.cart-items-name {
  display: flex;
  justify-content: left;
  flex-direction: column;
  margin-right: 1rem;
  height: 30px;
  width: 165px;
  text-align: left;
  color: #9b9b9b;
  font-size: 15px;
  
}
.cart-items-function {
  display: flex;
  justify-content: right;
}

.cart-items-add,
.cart-items-remove {
  height: 32px;
  width: 32px;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  background-color: #ffffff;
  color: #5d3ebc;
  border-radius: 8px;
  border: #ebebeb solid 1px;
}
.cart-items-add:active {
  transform: translateY(2px);
}
.cart-items-remove:active {
  transform: translateY(1px);
}
.cart-items-total-price-name {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
}
.cart-items-total-price {
  display: flex;
  padding-left: 0.5rem;
  margin-top: 10%;
}

.product-quantity {
  color: #ebebeb;
  background-color: #5d3ebc;
  border: #ebebeb solid 1px;
  height: 32px;
  width: 32px;
  font-weight: 700;
  font-size: 18px;
  padding-top: 5px;
}
.add-to-cart-btn-sepetim {
  height: 44px;
  width: 163px;
  background-color: #5d3ebc;
  border-radius: 8px;
  border-color: inherit;
  color: #ffffff;
  font-size: small;
  cursor: pointer;
}
.add-to-cart-btn-sepetim:hover {
  background-color: #7849f7;
}
.total-price {
  height: 44px;
  width: 80px;
  border: solid #5d3ebc 2px;
  border-radius: 8px;
  text-align: center;
  padding-top: 0.6rem;
  color: #5d3ebc;
  font-size: small;
}
.item-price {
  justify-content: none;
  color: #5d3ebc;
  font-size: 13px;
}

@media (max-width: 600px) {
}
