* {
  /* font-family: 'Helvetica Neue', sans-serif;     */
  /* font-family: 'Arial', sans-serif; */

  font-family: "Helvetica Neue", Helvetica, "Arial", Sans-Serif, "Open Sans",
    sans-serif;
  font-size: 14px;
}
.cart-navbar {
  background-color: #5d3ebc;
  height: 75px;
  padding-left: 128px;
  padding-right: 128px;
  align-items: center;
  justify-content: center;
  padding-top: 1.4rem;
  
}
.left-cart {
  width: 65%;

  padding-left: 100px;
  padding-top: 2rem;
}
.right-cart {
  width: 35%;
  padding-left: 2rem;
  padding-top: 2rem;
}
.cart-sepet-container {
  margin-left: 2rem;
  margin-top: 1rem;
  
}
.cart-header {
  width: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
h5 {
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  margin-left: 2rem;
}
.clear-cart {
  display: flex;
  color: #5d3ebc;
  border: none;
  justify-content: center;
  text-align: center;
  background-color: #f7f5f5;
  cursor: pointer;
  align-items: center;
}
.adress-text {
  height: 5rem;
  width: 70%;
  padding: 1rem 0;
  display: flex;
  justify-content: flex-start;
  text-align: left;
  color: #484848;
  border-radius: 8px;
  margin-bottom: 1rem;
  background-color: #fdfbfb;
  padding: 16px;
}
.adress-header {
  margin-bottom: 1rem;
  padding-top: 4px;
}
.IoLocationOutline {
  height: 25px;
  width: 25px;
  margin-right: 0.8rem;
  margin-top: -0.3rem;
  color: #5d3ebc;
}
.BiTrash{
  height: 25px;
  width: 25px;
  margin-right: 0.5rem;

}
.cart-total-price {
  display: flex;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  height: 4.5rem;
  width: 70%;
  padding: 1rem;
  text-align: center;
  border-radius: 8px;
  background-color: #fdfbfb;
  justify-content: space-between;
  padding: 16px;
  align-items: center;
}
.cart-total-pricee {
  display: flex;
  justify-content: flex-end;
}
.cart-text {
  margin-left: 1rem;
  color: #484848;
}
.cart-price {
  display: flex;
  color: #697488;

  margin-left: 35%;
  margin-right: 1rem;
}
.payment-btn {
  height: 3.5rem;
  width: 70%;
  background-color: #5d3ebc;
  color: #fafafa;
  border-radius: 8px;
  border: none;
  margin-top: 1rem;
}
.payment-btn:hover {
  background-color: #6949c9;
}
.cart-total-cart1 {
  margin-bottom: 1rem;
}
.basket {
  background-color: #f6f6f6;
}
.cart-navbar-container{
  display: block;
}
.cart-navbar-items{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.navbar-getir-adress{
  display: flex;
  justify-content: end;
  flex: 1 1 0%;
  
}
.navbar-adress-back{
  background-color: #FFD300;
}
.navbar-adress-text{
  height: 40px;
  width: 7rem;
  background-color: #f6f6f6;
  border-radius: 8px 50px 50px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 5px;
  

}
.navbar-adress-time{
  height: 40px;
  width: 6rem;
  background-color: #FFD300;
  border-radius: 0px 8px 8px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5d3ebc;

  
}
.navbar-house-img{
  height: 14px; 
  padding-right: 15px;
}
.FaGreaterThan-icon{
  color: #5d3ebc;
  margin-left: 9px;
}
.navbar-getir-logo-img{
  height: 27px;
}

