* {
  /* font-family: 'Helvetica Neue', sans-serif;     */
  /* font-family: 'Arial', sans-serif; */

  font-family: "Helvetica Neue", Helvetica, "Arial", Sans-Serif, "Open Sans",
    sans-serif;
  font-size: 14px;
}
.cart-navbar {
  background-color: #5d3ebc;
  height: 75px;
  padding-left: 16px;
}
.left-cart {
  width: 60%;

  padding-left: 4rem;
  padding-top: 2rem;
}
.right-cart {
  width: 40%;

  padding-left: 4rem;
  padding-top: 2rem;
}
.cart-sepet-container {
  margin-left: 2rem;
  margin-top: 1rem;
  
}
.cart-header {
  width: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
h5 {
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  margin-left: 2rem;
}
.clear-cart {
  display: flex;
  color: #5d3ebc;
  border: none;
  justify-content: center;
  text-align: center;
  background-color: #f7f5f5;
  cursor: pointer;
  align-items: center;
}
.adress-text {
  height: 5rem;
  width: 70%;
  padding: 1rem 0;
  display: flex;
  justify-content: flex-start;
  text-align: left;
  color: #484848;
  border-radius: 8px;
  margin-bottom: 1rem;
  background-color: #fdfbfb;
  padding: 16px;
}
.adress-header {
  margin-bottom: 1rem;
}
.IoLocationOutline {
  height: 25px;
  width: 25px;
  margin-right: 0.8rem;
  margin-top: -0.3rem;
  color: #5d3ebc;
}
.BiTrash{
  height: 25px;
  width: 25px;
  margin-right: 0.5rem;

}
.cart-total-price {
  display: flex;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  width: 70%;
  padding: 1rem;
  text-align: center;
  border-radius: 8px;
  background-color: #fdfbfb;
  justify-content: space-between;
  padding: 16px;
}
.cart-total-pricee {
  display: flex;
  justify-content: flex-end;
}
.cart-text {
  margin-left: 1rem;
  color: #484848;
}
.cart-price {
  display: flex;
  color: #697488;

  margin-left: 35%;
  margin-right: 1rem;
}
.payment-btn {
  height: 3.5rem;
  width: 70%;
  background-color: #5d3ebc;
  color: #fafafa;
  border-radius: 8px;
  border: none;
  margin-top: 1rem;
}
.payment-btn:hover {
  background-color: #6949c9;
}
.cart-total-cart1 {
  margin-bottom: 1rem;
}
.basket {
  background-color: #f6f6f6;
}
