.category {
  margin: 1rem;
}
.category-text {
  font-family: "Comic Neue", cursive;
  font-family: "Open Sans", sans-serif;
  color: #343335;
  font-size: 14px;
  font-style: bold;
  font-weight: 600;
}
.category-header {
  margin-bottom: 15px;
  color: #343335;
}
.category-btn {
  display: flex;
  background-color: #ffffff;
  border: none;
  margin-bottom: 5px;
  width: 100%;
}
.category-btn:hover {
  background-color: #f3f0fe;
}
.category-btn img {
  height: 30px;
  border: solid 1px rgb(190, 190, 190);
  margin-right: 0.5rem;
  border-radius: 2px;
}

* {
  box-sizing: border-box;
}
/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 1px;
}

.left,
.right {
  width: 20%;
}
.right {
  width: 27%;
}

.middle {
  width: 52%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.cart-text-getirsayfa {
  margin-top: 1rem;
  color: #343335;
  font-weight: 400;
}
.cart {
  margin-top: 0.7rem;
  margin-right: 1rem;
  border: 2px solid #ffd300;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  padding: 8px 24px 24px;
}

.product-text {
  margin-top: 1rem;
  color: #343335;
}
.Products-container {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 12px;
}
.cart{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

}
.cart h4{
  color:#5D3EBC;
  margin-bottom: 1rem;
  font-weight: 500;
}
.cart p{
  color: #727C8F;
  font-size: medium;
  font-weight: 300;
  
}
.cart-img{
  margin-bottom: 1rem;
}
.cart-below{
  margin-top: 2rem;
  font-size: 15px;
  font-weight: 400;
}





/* Dropdown button on hover & focus */
.category-dropbtn:hover, .category-dropbtn:focus {
  background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.category-dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

/* Dropdown Content (Hidden by Default) */
.category-dropdown-content {
  display: none;
  position: absolute;
  background-color: #489b3e;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.category-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.category-dropdown-content a:hover {background-color: #884646}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
.category-de-acilir-menu{
  padding-left: 2.7rem;
  padding-bottom: 1rem;
  
}