.category {
  margin: 1rem;
}
.category-text {
  font-family: "Comic Neue", cursive;
  font-family: "Open Sans", sans-serif;
  color: #343335;
  font-size: 14px;
  font-style: bold;
  font-weight: 600;
  
}
.category-header {
  margin-bottom: 15px;
  color: #343335;
}
.category-btn {
  display: flex;
  background-color: #ffffff;
  border: none;
  margin-bottom: 5px;
  width: 100%;
}
.category-btn:hover {
  background-color: #f3f0fe;
}
.category-btn img {
  height: 30px;
  border: solid 1px rgb(190, 190, 190);
  margin-right: 0.5rem;
  border-radius: 2px;
}


* {
  box-sizing: border-box;
}
/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 1px;
}

.left, .right {
  width: 30%;
}

.middle {
  width: 40%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.cart-text{
  margin-top: 1rem;
  color: #343335;
}
.cart{
  margin-top: 0.7rem;
  margin-right: 1rem;
  height: 11rem;
  border: 2px solid #FFD300;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  padding: 8px 24px 24px;
}

.product-text{
  margin-top: 1rem;
  color: #343335;
}