.category {
  margin: 1rem;
}
.category-items {
  padding: 3px;
  border-radius: 8px;
  background-color: #f3f3f3;
}
.category-text {
  font-family: "Comic Neue", cursive;
  font-family: "Open Sans", sans-serif;
  color: #282728;
  font-size: 14px;
  font-style: bold;
  font-weight: 600;
}
.category-header {
  margin-bottom: 15px;
  color: #343335;
}
.category-btn {
  display: flex;
  background-color: #f9f9f9;
  border: none;
  width: 100%;
  padding: 4px;
}
.category-btn:hover {
  background-color: #f3f0fe;
}
.category-btn img {
  height: 30px;
  border: solid 1px rgb(190, 190, 190);
  margin-right: 0.5rem;
  border-radius: 2px;
}

* {
  box-sizing: border-box;
}
/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 1px;
}

.left,
.right {
  width: 20%;
}
.right {
  width: 27%;
}

.middle {
  width: 52%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.cart-text-getirsayfa {
  margin-top: 1rem;
  color: #343335;
  font-weight: 400;
}
.cart {
  margin-top: 0.7rem;
  margin-right: 1rem;
  border: 2px solid #ffd300;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  padding: 8px 24px 24px;
}

.product-text {
  margin-top: 1rem;
  color: #343335;
}
.Products-container {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 12px;
}
.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.cart h4 {
  color: #5d3ebc;
  margin-bottom: 1rem;
  font-weight: 500;
}
.cart p {
  color: #727c8f;
  font-size: medium;
  font-weight: 300;
}
.cart-img {
  margin-bottom: 1rem;
}
.cart-below {
  margin-top: 2rem;
  font-size: 15px;
  font-weight: 400;
}

.category-de-acilir-menu {
  padding-left: 2.7rem;
  padding-bottom: 1rem;
  color: #575a57;
}
.down-icon {
  color: #606360;
  margin-top: 5px;
}

.textler {
  width: 70%;
  display: flex;
  justify-content: start;
  font-family: "Comic Neue", cursive;
  font-family: "Open Sans", sans-serif;
  color: #282728;
  font-size: 14px;
  font-style: bold;
  font-weight: 600;
}
.flex-option{
  display: flex;
}