* {
  margin: 0;
  padding: 0;
  font-family: "Nanum Gothic", sans-serif;
  font-size: large;
  font-style: normal;
}
.navbar {
  padding-right: 32px;
  padding-left: 32px;
  height: 45px;
  background-color: rgb(76, 51, 152);
  flex-shrink: 0;
  z-index: 10;
}
.navbar-links-container {
  display: block;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  max-width: 1232px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
navbar-items {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
}
.nav-items-right {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(255, 255, 255);
  margin-left: auto;
  justify-content: flex-end;
  margin-top: -2.5rem;
  padding-bottom: 15px;
 
}

.logo {
  color: rgb(244, 242, 253);
  background-color: var(--color-primary);
  border-radius: 6px 6px 0px 0px;
  display: inline-flex;
  margin: 10px 0px 3px 3px;
}
.selected {
  background-color: #5d3ebc;
  height: 40px;
  width: auto;
  border-radius: 8px 8px 0px 0px;
}
.link {
  position: relative;
  outline: 0px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: rgb(93, 62, 188);
  text-decoration: none;
  height: 40px;
  width: auto;
  display: flex;
  align-items: center;
  border-radius: 8px 8px 0px 0px;
  padding: 0px 15px;
}
.link:hover {
  background-color: #5d3ebc;
}
.img-size {
  height: 16px;
  width: auto;
}

.nav-link-getir-text {
  color: #ffd300;
}
.nav-second {
  background-color: #5d3ebc;
  height: 66px;
  padding-left: 16px;
  display: flex;
}
.name-surname-container {
  margin: 8px;
  margin-top: 25px;
  padding-left: 24px;
  padding-bottom: 25px;
  display: flex;
  border-bottom: solid #f5f2f2;
}
.name-surname-text {
  padding-left: 13px;
  display: block;
  padding-right: 1rem;
}
.name-surname-number {
  color: #a6a6ae;
  margin-left: 0.7rem;
  font-size: 0.7rem;
}
.account-icon {
  border: solid #e9e9ee;
  border-radius: 10px;
  cursor: pointer;
  color: rgb(188, 184, 184);
}
.menu-option-icon {
  color: #dcdcff;
  margin-top: 1rem;
  font-size: x-large;
}
.account:hover {
  background-color: red;
}
.delete-icon {
  margin-left: 12rem;
  background-color: #eaeaee;
  cursor: pointer;
}
.search-icon {
  color: #d9d9dc;
  margin-top: 1rem;
  margin-left: auto;
  margin-bottom: 7px;
}
.nav-second {
  padding-right: 1rem;
  align-items: center;
  text-align: center;
}

.nav-second-text {
  color: #ffd300;
  margin-left: 1rem;
  font-size: x-large;
  font-weight: 700;
}
.active {
  background-color: #49bc3e;
}
.nav-item-1 {
  background-color: rgb(76, 51, 152);
  border: none;
  color: #d9d9dc;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-bottom: 7px;
}
.nav-item-2 {
  margin: 0px 2rem;
  text-decoration: none;
  color: #d9d9dc;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 7px;
}
.nav-item-3 {
  color: #d9d9dc;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.MdLanguage {
  margin-right: 5px;
  font-size: 20px;
}
.BiSolidGift {
  margin-right: 5px;
  font-size: 20px;
}
.CgProfile {
  margin-right: 5px;
  font-size: 20px;
}
.dropbtn {
  background-color:#4C3398;
  border: none;
  padding-bottom: 7px;

}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  width: 260px;
  z-index: 1;
  right: 0; /* hizalamayi sagdan 0 'le yapar*/
  top: 100%; 
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-account{
  display: flex;
  background-color:#F3F0FE;
  padding: 5px;
  overflow-wrap: anywhere;
}

.account-back{
  background-color: #F3F0FE;
  margin-bottom: 5px;
}


.dropdown-avatar{
  border-radius: 8px;
  padding: 6px;
  flex-shrink: 0;
  overflow: hidden;
  display: inline-flex;
  padding: 2px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(245, 245, 245);
  color: rgb(219, 219, 255);
  width: 40px;
  height: 40px;

}
.dropdown-avatar-img{
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  min-width: 24px;
  min-height: 24px;
}
.dropdown-avatar-img img{
  height: 27px;
  width: auto;
  padding-left: 4px;
}
.dropdown-account-name-phone-container{
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}
.account-name{
  line-height: 18px;
  letter-spacing: 0.16px;
  color: rgb(82, 82, 82);
}
.account-number{
  color: #a6a6ae;
  margin-top: 5px;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: #5d3ebc;
}

.dropdown-logout{
  border-top: 1px rgb(213, 213, 213) solid;
  margin-top: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
}


@media (max-width: 768px) {
  .nav-second-text {
    color: #ffd300;
    margin-left: 33%;
  }
}
@media (max-width: 567px) {
  .nav-link {
    font-size: small;
    padding-right: 0.5rem;
  }
  .nav-second-text {
    color: #ffd300;
  }
  .search-icon {
    color: #d9d9dc;
    margin-top: 1rem;
    margin-left: auto;
  }
}
